<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/shop.css"></link>
</head>
<body>
    <header class="header">
        <nav class="header-nav">
            <ul class="header-ul">
                <li class="header-li"><a href="/">Shop</a></li>
                <li class="header-li"><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <div class="main-container">
            <h2>Page not found !!</h2>
        </div>
    </main>
</body>
</html>